/* background */
body,
#root {
  height: 100%;
}

.login-page,
body {
  background: linear-gradient(135deg, #f0f4f8 0%, #ffffff 50%, #f0f4f8 100%);
}

/* small adjustments to card and logo */
.logo-circle img {
  border-radius: 14px;
}

.card {
  border-radius: 20px;
}
.card .login-button {
  background: linear-gradient(to right, #8a2be2, #4169e1);
}
.login-input {
  background: #f9f9f9;
}
